@use './vars';

/* Sets the default Iress font variables for a component */
@mixin defaultFontVariables($component, $fontWeight: null) {
  --iress-font-family: var(--iress-#{$component}-font-family, var(--iress-g-font-family));
  --iress-font-size: var(--iress-#{$component}-font-size, var(--iress-g-font-size-rem, var(--iress-default-font-size--touch)));
  --iress-font-weight: var(--iress-#{$component}-font-weight, var(--iress-g-font-weight, #{$fontWeight}));
}

/* Adds the default Iress font styles to a component's host element */
@mixin defaultFontStyles() {
  font-family: var(--iress-font-family);
  font-size: var(--iress-font-size, var(--iress-g-font-size-rem, var(--iress-default-font-size--touch)));
  font-weight: var(--iress-font-weight);
}

/* Adds the default Selected border to a component - To be used with ::before */
@mixin selectedBorder() {
  content: '';
  position: absolute;
  inset: 0;
  border-color: var(--iress-border-color);
  border-style: solid;
  border-width: calc(var(--iress-border-width) + 2px);
  border-radius: var(--iress-border-radius);
  pointer-events: none;
}

@mixin unselectedBorder() {
  content: '';
  position: absolute;
  inset: 0;
  border-color: var(--iress-border-color);
  border-style: solid;
  border-width: var(--iress-border-width);
  border-radius: var(--iress-border-radius);
  pointer-events: none;
}

/* Hides content from view, but keeps it available for screen readers */
@mixin srOnly() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Adds a divider to a CSS rule */
@mixin addDivider($useComponentVars: false) {
  border-block-start-style: solid;
  margin-inline: 0;

  @if $useComponentVars {
    border-block-start-width: var(--iress-divider-border-width);
    border-block-start-color: var(--iress-divider-border-color);
  } @else {
    border-block-start-width: var(--iress-g-border-width, 1px);
    border-block-start-color: var(--iress-g-border-color, var(--iress-default-border-color));
  }
}

@mixin addTextVars() {
  @include defaultFontVariables('text');

  --iress-scoped-text-color: initial;

  --iress-text-color: var(--iress-scoped-text-color, var(--iress-g-text-color));
  --iress-line-height: var(--iress-text-line-height, var(--iress-g-line-height, 1.5));

  --iress-heading-text-color: var(--iress-scoped-text-color, var(--iress-text-heading-text-color, var(--iress-a-heading-text-color, var(--iress-g-primary-color, var(--iress-default-primary-color)))));
  --iress-heading-font-family: var(--iress-text-heading-font-family, var(--iress-a-heading-font-family, var(--iress-g-font-family)));
  --iress-heading-font-weight: var(--iress-text-heading-font-weight, var(--iress-g-heading-font-weight, normal));
  --iress-heading-margin-bottom: var(--iress-text-heading-margin-bottom, var(--iress-g-spacing-md));
  --iress-heading-line-height: var(--iress-text-heading-line-height, 1.2);

  --iress-heading-icon-spacing: var(--iress-text-heading-icon-spacing, var(--iress-g-spacing-sm));

  --iress-heading-1-font-size: var(--iress-text-heading-1-font-size, var(--iress-g-font-size-xxl, var(--iress-default-font-size-xxl)));
  --iress-heading-1-font-weight: var(--iress-text-heading-1-font-weight, var(--iress-heading-font-weight));
  --iress-heading-2-font-size: var(--iress-text-heading-2-font-size, var(--iress-g-font-size-lg, var(--iress-default-font-size-lg)));
  --iress-heading-3-font-size: var(--iress-text-heading-3-font-size, var(--iress-g-font-size-md, var(--iress-default-font-size-md)));
  --iress-heading-4-font-size: var(--iress-text-heading-4-font-size, var(--iress-g-font-size-sm, var(--iress-default-font-size-sm)));
  --iress-heading-5-font-size: var(--iress-text-heading-5-font-size, var(--iress-g-font-size-xs, var(--iress-default-font-size-xs)));
  --iress-heading-6-font-size: var(--iress-text-heading-6-font-size, var(--iress-g-font-size-xxs, var(--iress-default-font-size-xxs)));

  --iress-display-font-family: var(--iress-text-display-font-family, var(--iress-a-display-font-family, var(--iress-g-font-family)));
  --iress-display-font-weight: var(--iress-text-display-font-weight, var(--iress-a-display-font-weight, var(--iress-g-font-weight, lighter)));
  --iress-display-line-height: var(--iress-text-display-line-height, 1.2);
  --iress-display-text-color: var(--iress-scoped-text-color, var(--iress-text-display-text-color, var(--iress-a-display-text-color, var(--iress-g-text-color, var(--iress-default-text-color)))));
  --iress-display-margin-top: var(--iress-text-display-margin-top, 0);
  --iress-display-margin-bottom: var(--iress-text-display-margin-bottom, 0);

  --iress-display-1-font-size: var(--iress-text-display-1-font-size, var(--iress-g-font-size-xxxxl, var(--iress-default-font-size-xxxxl)));
  --iress-display-2-font-size: var(--iress-text-display-2-font-size, var(--iress-g-font-size-xxxl, var(--iress-default-font-size-xxxl)));
  --iress-display-3-font-size: var(--iress-text-display-3-font-size, var(--iress-g-font-size-xl, var(--iress-default-font-size-xl)));
  --iress-display-4-font-size: var(--iress-text-display-4-font-size, var(--iress-g-font-size-lg, var(--iress-default-font-size-lg)));

  --iress-paragraph-margin-bottom: var(--iress-text-paragraph-margin-bottom, var(--iress-g-spacing-rem));
  --iress-list-margin-bottom: var(--iress-text-list-margin-bottom, var(--iress-g-spacing-rem));
  --iress-list-padding-x: var(--iress-text-list-padding-x, var(--iress-g-spacing-rem));

  --iress-caption-font-weight: var(--iress-text-caption-font-weight, var(--iress-a-muted-font-weight, var(--iress-g-font-weight, normal)));
  --iress-caption-font-size: var(--iress-text-caption-font-size, var(--iress-g-font-size-xxxs, var(--iress-default-font-size-xxxs)));
  --iress-caption-text-color: var(--iress-scoped-text-color, var(--iress-text-caption-text-color, var(--iress-g-muted-text-color, var(--iress-default-text-color--light))));

  --iress-lead-text-color: var(--iress-scoped-text-color, var(--iress-text-lead-text-color, var(--iress-a-lead-text-color, var(--iress-g-text-color, var(--iress-default-text-color)))));
  --iress-lead-font-size: var(--iress-text-lead-font-size, var(--iress-g-font-size-lg, var(--iress-default-font-size-lg)));
  --iress-lead-font-weight: var(--iress-text-lead-font-weight, var(--iress-a-lead-font-weight, var(--iress-g-font-weight, normal)));

  --iress-link-text-color: var(--iress-text-link-text-color, var(--iress-g-link-text-color, var(--iress-default-link-color)));
  --iress-link-hover-text-color: var(--iress-text-link-hover-text-color, var(--iress-a-link-hover-text-color, var(--iress-link-text-color)));
  --iress-link-active-text-color: var(--iress-text-link-active-text-color, var(--iress-a-link-active-text-color, var(--iress-link-text-color)));
  --iress-transition-duration: var(--iress-text-link-transition-hover-duration, var(--iress-g-transition-hover-duration, var(--iress-default-hover-transition-duration)));
  --iress-transition-type: var(--iress-text-link-transition-hover-type, var(--iress-g-transition-hover-type, var(--iress-default-hover-transition-type)));

  --iress-primary-text-color: var(--iress-text-primary-text-color, var(--iress-g-primary-color, var(--iress-default-primary-color)));
  --iress-info-text-color: var(--iress-text-info-text-color, var(--iress-a-info-text-color, var(--iress-g-info-color, var(--iress-default-info-color))));
  --iress-warning-text-color: var(--iress-text-warning-text-color, var(--iress-a-warning-text-color, var(--iress-g-warning-color, var(--iress-default-warning-color))));
  --iress-success-text-color: var(--iress-text-success-text-color, var(--iress-a-success-text-color, var(--iress-g-success-color, var(--iress-default-success-color))));
  --iress-error-text-color: var(--iress-text-danger-text-color, var(--iress-a-danger-text-color, var(--iress-g-danger-color, var(--iress-default-danger-color))));
  --iress-positive-text-color: var(--iress-text-positive-text-color, var(--iress-a-positive-text-color, var(--iress-g-positive-color, var(--iress-default-positive-color))));
  --iress-negative-text-color: var(--iress-text-negative-text-color, var(--iress-a-negative-text-color, var(--iress-g-negative-color, var(--iress-default-negative-color))));
  --iress-muted-text-color: var(--iress-text-muted-text-color, var(--iress-g-muted-text-color, var(--iress-default-text-color--light)));

  --iress-small-font-size: var(--iress-text-small-font-size, 0.875em);

  --iress-blockquote-padding-left: var(--iress-text-blockquote-padding-left, var(--iress-g-spacing-lg));
  --iress-blockquote-border-width: var(--iress-text-blockquote-border-width, var(--iress-default-border-width--lg));
  --iress-blockquote-border-color: var(--iress-text-blockquote-border-color, var(--iress-g-border-color, var(--iress-default-border-color)));

  --iress-code-text-color: var(--iress-scoped-text-color, var(--iress-text-code-text-color, var(--iress-text-color)));
  --iress-code-background-color: var(--iress-text-code-background-color);
  --iress-code-font-family: var(--iress-text-code-font-family, monospace);
  --iress-code-border-width: var(--iress-text-code-border-width, 0);
  --iress-code-border-color: var(--iress-text-code-border-color, var(--iress-g-border-color, var(--iress-default-border-color)));
  --iress-code-line-height: var(--iress-text-code-line-height, var(--iress-g-line-height, 1.5));

  --iress-strong-font-weight: var(--iress-text-strong-font-weight, 600);

  --iress-focus-box-shadow: 0 0 0 var(--iress-g-focus-width, var(--iress-default-focus-size)) var(--iress-focus-color);

  --iress-divider-margin-top: var(--iress-text-divider-margin-top, var(--iress-g-spacing-rem));
  --iress-divider-margin-bottom: var(--iress-text-divider-margin-bottom, var(--iress-g-spacing-rem));
}

@mixin addHeadingStyles() {
  color: var(--iress-heading-text-color);
  font-family: var(--iress-heading-font-family);
  font-weight: var(--iress-heading-font-weight);
  margin-block: 0 var(--iress-heading-margin-bottom);
  font-style: normal;
  line-height: var(--iress-heading-line-height);
}

/* Sets up inline responsive gutter styles */
@mixin responsiveInlineUtilityGutters($bpName) {
  .iress-u-inline.iress--gutter-#{$bpName}--none {
    gap: 0;
  }

  .iress-u-inline.iress--gutter-#{$bpName}--none > .iress-hide > * {
    display: var(--child-display);
  }

  @each $gutter, $spacing, $modifier in vars.$inlineGutterSizes {
    .iress-u-inline.iress--gutter-#{$bpName}--#{$gutter} {
      gap: var(--gutter-#{$gutter}) var(--gutter-#{$gutter});
    }

    .iress-u-inline.iress--gutter-#{$bpName}--#{$gutter} > .iress-hide > * {
      display: var(--child-display);
    }
  }
}

/* Sets up inline responsive gutter styles */
@mixin responsiveRowUtilityGutters($bpName) {
  @each $gutter, $spacing, $modifier in vars.$inlineGutterSizes {
    .iress-u-row.iress--gutter-#{$bpName}--#{$gutter} {
      @if $gutter == 'none' {
        --iress-gutter: 0;
        --iress-neg-gutter: 0;
      } @else {
        --iress-gutter: var(--iress-row-#{$gutter}-gutter, var(--iress-a-horizontal-spacing-#{$gutter}, var(--iress-g-spacing-#{$gutter})));
        --iress-neg-gutter: calc(var(--iress-gutter) * -1);

        &.iress--use-col-gap {
          --iress-neg-gutter: 0;
        }
      }
    }
  }
}

/* Sets up panel responsive padding utility styles */
@mixin responsivePanelUtilityPadding($bpName) {
  @each $paddingSize in vars.$panelPaddingSizes {
    .iress-u-panel.iress--padding-#{$bpName}--none {
      --iress-padding-x: 0;
      --iress-padding-y: 0;
    }

    .iress-u-panel.iress--padding-#{$bpName}--#{$paddingSize} {
      --iress-padding-x: var(--iress-panel-#{$paddingSize}-padding-x, var(--iress-a-horizontal-spacing-#{$paddingSize}, var(--iress-g-spacing-#{$paddingSize})));
      --iress-padding-y: var(--iress-panel-#{$paddingSize}-padding-y, var(--iress-a-vertical-spacing-#{$paddingSize}, var(--iress-g-spacing-#{$paddingSize})));
    }
  }
}

@mixin hoverStyles() {
  --iress-text-color: var(--iress-hover-text-color);

  background-color: var(--iress-hover-background-color);
  background-image: var(--iress-hover-background-image);
  border-color: var(--iress-hover-border-color);
  box-shadow: var(--iress-hover-box-shadow);
  color: var(--iress-hover-text-color);
  text-decoration: var(--iress-hover-text-decoration);
}
