@use '../mixins';
@use '../vars';

.iress-u-divider {
  border: 0;
  margin-block: var(--iress-g-spacing-rem) var(--iress-g-spacing-rem);
  @include mixins.addDivider(false);

  &.iress--vertical {
    border-block-start-width: 0;
    border-inline-start-width: var(--iress-g-border-width, 1px);
    border-inline-start-color: var(--iress-g-border-color, var(--iress-default-border-color));
    border-left-style: solid;
    align-self: stretch;
    display: inline-block;
    height: auto;
    margin: 0 var(--iress-g-spacing-rem);
    min-height: 1em;
  }

  &.iress--gutter--none {
    margin-block: 0;

    &.iress--vertical {
      margin-inline: 0;
    }
  }

  @each $gutter in vars.$gutters {
    &.iress--gutter--#{$gutter} {
      margin-block: var(--iress-a-horizontal-spacing-#{$gutter}, var(--iress-g-spacing-#{$gutter}));

      &.iress--vertical {
        margin: 0 var(--iress-a-horizontal-spacing-#{$gutter}, var(--iress-g-spacing-#{$gutter}));
      }
    }
  }
}
