.sandbox-preview {
  height: 100vh;
  overflow-y: auto;
}

.sandbox-preview__error > * {
  display: none !important;
}

.sandbox-preview__error:has(pre) > * {
  display: flex !important;
}

.sandbox-preview__error pre {
  color: var(--iress-heading-color, inherit);
  margin-top: 0;
  white-space: pre-wrap;
}

.sandbox-edit-preview {
  position: fixed;
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  top: 0;
  right: 0;
  padding: 0.5em 0.75em;
  border: 0;
  border-bottom-left-radius: 0.5em;
  background-color: #292c2e;
  font-family: Roboto, Helvetica, Aria, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 0.75em;
}

.sandbox-edit-preview span {
  font-size: 1.5em;
}
