.selectLabel:global(.iress-u-button) {
  --iress-addon-spacing: 0 var(--iress-g-spacing-xs);
  --iress-addon-border-width: var(--iress-select-beta-label-addon-border-width, var(--iress-a-form-border-width, var(--iress-g-border-width, var(--iress-default-border-width))));
  --iress-addon-color: var(--iress-select-beta-label-addon-color, var(--iress-g-form-border-color, var(--iress-default-form-border-color)));
  --iress-addon-margin-inline-end: var(--iress-g-spacing-xs, 0);

  --iress-background-color: var(--iress-select-beta-label-background-color, var(--iress-a-form-background-color, var(--iress-g-background-color, var(--iress-default-background-color))));

  --iress-border-width: var(--iress-select-beta-label-border-width, var(--iress-a-form-border-width, var(--iress-g-border-width, var(--iress-default-border-width))));
  --iress-border-color: var(--iress-select-beta-label-border-color, var(--iress-g-form-border-color, var(--iress-default-form-border-color)));
  --iress-border-radius: var(--iress-select-beta-label-border-radius, var(--iress-a-form-border-radius, var(--iress-g-border-radius, var(--iress-default-border-radius))));

  --iress-focus-border-color: var(--iress-select-beta-label-focus-border-color, var(--iress-focus-color));
  --iress-focus-box-shadow: 0 0 0 var(--iress-g-focus-width, var(--iress-default-focus-size)) var(--iress-focus-color);
  --iress-focus-background-color: var(--iress-select-beta-label-focus-background-color, var(--iress-background-color));
  --iress-focus-text-color: var(--iress-select-beta-label-focus-text-color, var(--iress-text-color));

  --iress-font-family: var(--iress-select-beta-label-font-family, var(--iress-a-form-font-family, var(--iress-g-font-family)));
  --iress-font-size: var(--iress-select-beta-label-font-size);
  --iress-font-weight: var(--iress-select-beta-label-font-weight, var(--iress-g-font-weight, normal));

  --iress-min-height: var(--iress-select-beta-label-min-height, var(--iress-default-min-height));

  --iress-padding-x: var(--iress-select-beta-label-padding-x, var(--iress-g-spacing-sm));
  --iress-padding-y: var(--iress-select-beta-label-padding-y, 0);

  --iress-placeholder-text-color: var(--iress-select-beta-label-placeholder-text-color, var(--iress-default-text-color--placeholder));

  --iress-text-color: var(--iress-select-beta-label-text-color, var(--iress-g-text-color));
  --iress-text-align: inherit;

  --iress-transition-hover-duration: var(--iress-select-beta-label-transition-hover-duration, 0.3s);
  --iress-transition-hover-type: var(--iress-select-beta-label-transition-hover-type, all);
  --iress-transition-hover: all var(--iress-select-beta-label-hover-duration) var(--iress-transition-hover-type);

  display: flex;
  width: 100%;
  justify-content: space-between;
  height: var(--iress-min-height);
  padding-inline: var(--iress-padding-x);
  padding-block: var(--iress-padding-y);

  &:hover {
    background-color: var(--iress-background-color);
    border-color: var(--iress-border-color);
    color: var(--iress-text-color);
  }

  &:focus-within,
  .pseudo-focus-all.pseudo-focus-visible &,
  &.pseudo-focus-all.pseudo-focus-visible,
  &:global(.iress--active) {
    background-color: var(--iress-focus-background-color);
    background-image: var(--iress-focus-background-image);
    border-color: var(--iress-focus-border-color);
    box-shadow: var(--iress-focus-box-shadow);
    color: var(--iress-focus-text-color);
    outline: none;
    text-decoration: var(--iress-hover-text-decoration);
  }
}

.contents {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: transparent;
  background-image: none;
  text-align: inherit;
  color: inherit;
  border-width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.placeholder {
  color: var(--iress-placeholder-text-color);
}

.prepend,
.append {
  --iress-text-color: var(--iress-addon-color);

  display: inline-flex;
  align-items: center;
  gap: var(--iress-addon-spacing);
}

.append {
  margin-inline-end: var(--iress-addon-margin-inline-end);
}
