@use './Toast.vars';
@use '../../../styles/mixins';

.toast {
  @include mixins.defaultFontStyles();

  display: block;
  position: relative;
  transition: var(--iress-transition);
  z-index: var(--iress-z-index);
  opacity: var(--iress-opacity);

  &.unmounted {
    display: none;
  }

  h2:not(.iress-u-text),
  h3:not(.iress-u-text),
  h4:not(.iress-u-text),
  h5:not(.iress-u-text),
  h6:not(.iress-u-text) {
    font-weight: var(--iress-heading-font-weight);
    font-size: var(--iress-heading-font-size);
    font-family: var(--iress-heading-font-family);
    color: var(--iress-heading-color);
    margin-block: 0 var(--iress-heading-margin-bottom);
  }
}

.toast__icon {
  color: var(--iress-heading-icon-text-color);
  line-height: normal;
}

.toast__wrapper {
  line-height: var(--iress-g-line-height, 1.5);
  padding-inline-end: var(--iress-padding-right);
}

.toast__wrapper div :last-child {
  margin-block-end: 0 !important;
}

.toast__footer {
  padding-block-start: var(--iress-padding-y);
}

.toast__close-button,
:global(.iress-u-button.iress--mode--tertiary).toast__close-button {
  inset-block-start: 0;
  inset-inline-end: 0;
  position: absolute;
  --iress-button-padding-x: var(--iress-padding-x);
  --iress-button-padding-y: var(--iress-padding-y);
}

.start-x {
  inset-inline-start: var(--iress-position-x);
}

.end-x {
  inset-inline-end: var(--iress-position-x);
}

.start-y {
  transform: translateY(calc(-1 * var(--iress-translate-y)));
}

.end-y {
  transform: translateY(var(--iress-translate-y));
}

@media (prefers-reduced-motion: reduce) {
  .toast {
    --iress-translate-y: 0 !important;
    --iress-position-x: 0 !important;

    transition:
      opacity 0.25s ease-in-out,
      visibility 0.1s ease-in-out 0.25s !important;
    transform: none !important;
    opacity: 0;
    visibility: hidden;
  }

  .open {
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.25s ease-in-out,
      visibility 0.05s ease-in-out !important;
  }
}
