/** Checkbox variables
 * --------------------------------------------------
 */

// Moved here from checkbox mark styles
@media (hover: hover) {
  .label:hover .mark {
    --iress-background-color: var(
      --iress-checkbox-hover-background-color,
      var(--iress-a-form-hover-background-color, var(--iress-g-hover-background-color, var(--iress-default-hover-background-color)))
    );
  }

  .checked .label:hover .mark,
  .indeterminate .label:hover .mark {
    --iress-background-color: var(
      --iress-checkbox-checked-hover-background-color,
      var(--iress-a-active-hover-background-color, var(--iress-g-primary-hover-color, var(--iress-g-hover-background-color, var(--iress-default-hover-background-color))))
    );
    --iress-mark-color: var(--iress-checkbox-mark-hover-color, var(--iress-a-active-contrast-color, var(--iress-g-primary-contrast-color, var(--iress-default-active-color))));
  }
}

.checkbox:focus-within .ids-checkboxMark,
.focus .ids-checkboxMark {
  --iress-border-color: var(--iress-focus-color);
  --iress-mark-box-shadow: 0 0 0 var(--iress-g-focus-width, var(--iress-default-focus-size)) var(--iress-focus-color);
}

.checkbox {
  --iress-font-family: var(--iress-checkbox-font-family, var(--iress-a-form-font-family, var(--iress-g-font-family)));
  --iress-font-size: var(--iress-checkbox-font-size);
  --iress-font-weight: var(--iress-checkbox-font-weight, var(--iress-g-font-weight, normal));
  --iress-size: var(--iress-checkbox-size, calc(1.5 * var(--iress-g-font-size-rem)));
  --iress-text-color: var(--iress-checkbox-text-color, var(--iress-a-label-text-color, var(--iress-g-text-color)));
  --iress-spacing-right: var(--iress-checkbox-spacing-right, calc(0.25 * var(--iress-g-font-size-rem)));
  --iress-margin-bottom: var(--iress-checkbox-margin-bottom, var(--iress-g-spacing-sm));
  --iress-label-background-color: var(--iress-checkbox-label-background-color, transparent);
  --iress-label-border-color: var(--iress-checkbox-label-border-color, transparent);
  --iress-label-border-radius: var(--iress-checkbox-label-border-radius, var(--iress-a-form-border-radius, var(--iress-g-border-radius, var(--iress-default-border-radius))));
  --iress-label-border-width: var(--iress-checkbox-label-border-width, 0);
  --iress-label-box-shadow: none;
  --iress-line-height: var(--iress-checkbox-line-height, var(--iress-a-form-line-height, var(--iress-g-line-height, var(--iress-size))));
  --iress-transition-hover-duration: var(--iress-checkbox-transition-hover-duration, .var(--iress-g-transition-hover-duration, var(--iress-default-hover-transition-duration)));
  --iress-transition-hover-type: var(--iress-checkbox-transition-hover-type, var(--iress-g-transition-hover-type, var(--iress-default-hover-transition-type)));
  --iress-border-color: var(--iress-checkbox-border-color, var(--iress-g-form-border-color, var(--iress-default-form-border-color)));
  --iress-padding-x: var(--iress-checkbox-padding-x, 0);
  --iress-padding-y: var(--iress-checkbox-padding-y, 0);
}

.indeterminate,
.checked {
  --iress-border-color: var(--iress-checkbox-checked-border-color, var(--iress-a-active-border-color, var(--iress-g-primary-color, var(--iress-checkbox-border-color))));
}

.hiddenControl {
  --iress-label-border-width: var(--iress-checkbox-hidden-control-label-border-width, var(--iress-a-form-border-width, var(--iress-g-border-width, var(--iress-default-border-width))));
  --iress-label-border-color: var(--iress-checkbox-hidden-control-label-border-color, var(--iress-g-form-border-color, var(--iress-default-form-border-color)));
  --iress-label-background-color: var(
    --iress-checkbox-hidden-control-label-background-color,
    var(--iress-a-form-background-color, var(--iress-g-background-color, var(--iress-default-background-color)))
  );
  --iress-label-border-radius: var(--iress-checkbox-hidden-control-label-border-radius, var(--iress-a-form-border-radius, var(--iress-g-border-radius, var(--iress-default-border-radius))));
  --iress-inline-spacing-x: var(--iress-checkbox-group-inline-spacing, var(--iress-g-spacing-md));
  --iress-margin-bottom: var(--iress-checkbox-margin-bottom, var(--iress-g-spacing-sm));

  &:focus-within {
    --iress-label-box-shadow: 0 0 0 var(--iress-g-focus-width, var(--iress-default-focus-size)) var(--iress-focus-color);

    .label {
      --iress-label-border-color: var(--iress-focus-color);
    }
  }

  .input:checked + .label {
    --iress-label-border-color: var(--iress-checkbox-checked-border-color, var(--iress-a-active-border-color, var(--iress-g-primary-color, var(--iress-default-form-border-color))));
  }

  @media (hover: hover) {
    .label:hover {
      --iress-label-background-color: var(
        --iress-checkbox-hidden-control-label-hover-background-color,
        var(--iress-a-form-hover-background-color, var(--iress-g-hover-background-color, var(--iress-default-hover-background-color)))
      );
      --iress-text-color: var(--iress-checkbox-hidden-control-label-hover-text-color, var(--iress-a-form-hover-text-color, var(--iress-g-hover-text-color, var(--iress-default-text-color--hover))));
    }
  }
}

.touch {
  --iress-label-border-width: var(--iress-radio-hidden-control-label-border-width, var(--iress-a-form-border-width, var(--iress-g-border-width, var(--iress-default-border-width))));
  --iress-label-border-color: var(--iress-radio-border-color, var(--iress-g-form-border-color, var(--iress-default-form-border-color)));
  --iress-label-border-radius: var(--iress-radio-hidden-control-label-border-radius, var(--iress-a-form-border-radius, var(--iress-g-border-radius, var(--iress-default-border-radius))));
  --iress-padding-x: var(--iress-button-padding-x, var(--iress-g-spacing-md));

  .input:checked + .label {
    --iress-mark-color: var(--iress-checkbox-checked-border-color, var(--iress-a-active-border-color, var(--iress-g-primary-color, var(--iress-default-form-border-color))));
  }
}

:global(.iress-view-mode-compact) {
  --iress-size: var(--iress-checkbox-size, calc(1.25 * var(--iress-g-font-size-rem)));
}
