@use '../../styles/vars';
@use '../../styles/mixins';

.slideout {
  @include mixins.defaultFontVariables('slideout');

  --iress-focus-indicator: 0 0 0 var(--iress-g-focus-width, var(--iress-default-focus-size)) var(--iress-focus-color);

  --iress-position: fixed;
  --iress-transition-duration: var(--iress-slideout-animation-duration, var(--iress-g-animation-duration, var(--iress-default-animation-duration)));
  --iress-transition-type: var(--iress-slideout-animation-type, var(--iress-g-animation-type, var(--iress-default-animation-type)));
  --iress-transition: all var(--iress-transition-duration) var(--iress-transition-type);
  --iress-transition-reduced-motion: opacity var(--iress-transition-duration) ease-in-out;
  --iress-border-width: var(--iress-slideout-border-width, 1px);
  --iress-border-color: var(--iress-slideout-border-color, var(--iress-g-border-color, var(--iress-default-border-color)));
  --iress-border-radius: var(--iress-slideout-border-radius, var(--iress-g-border-radius, var(--iress-default-border-radius)));
  --iress-footer-border-color: var(--iress-slideout-footer-border-color, var(--iress-g-border-color, var(--iress-default-border-color)));
  --iress-border: var(--iress-border-width) solid var(--iress-border-color);
  --iress-box-shadow-size: var(--iress-slideout-box-shadow-size, var(--iress-default-box-shadow-size--lg));
  --iress-box-shadow-color: var(--iress-slideout-box-shadow-color, var(--iress-g-box-shadow-color, var(--iress-default-box-shadow-color)));
  --iress-box-shadow: var(--iress-box-shadow-size) var(--iress-box-shadow-color);
  --iress-box-shadow-focus: var(--iress-focus-indicator);
  --iress-background-color: var(--iress-slideout-background-color, var(--iress-a-layout-background-color, var(--iress-g-background-color, var(--iress-default-background-color))));
  --iress-close-button-offset-top: var(--iress-slideout-close-button-offset-top, var(--iress-g-focus-width, var(--iress-default-focus-size)));
  --iress-close-button-offset-right: var(--iress-slideout-close-button-offset-right, var(--iress-g-focus-width, var(--iress-default-focus-size)));
}

.backdrop {
  --iress-background-color: var(--iress-backdrop-background-color, var(--iress-default-backdrop-background-color));
  --iress-transition-duration: var(--iress-backdrop-transition-duration, var(--iress-g-animation-duration, var(--iress-default-animation-duration)));
  --iress-transition-type: var(--iress-backdrop-transition-type, var(--iress-g-animation-type, var(--iress-default-animation-type)));
  --iress-transition: all var(--iress-transition-duration) var(--iress-transition-type);
}

@media only screen and (min-width: 1200px) {
  .push {
    /* Turn off border radius when in push mode to prevent the page background colour poking through on the corners */
    --iress-border-radius: 0;
  }
}

@each $size in vars.$slideoutSizes {
  .size--#{$size} {
    --iress-width: var(--iress-slideout-#{$size}-width, var(--iress-default-width--#{$size}));
    --iress-initial-pos: calc(var(--iress-width) * -1);
  }
}

@media only screen and (max-width: 575px) {
  @each $size in vars.$slideoutSizes {
    .size--#{$size} {
      --iress-width: 100%;
      --iress-initial-pos: calc(100% * -1);
    }
  }
}
