.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.progress {
    width: var(--iress-progress-width, 300px);
    max-width: 75vw;
}